<h1>Listing incidents</h1>

<table>
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @incidents.each do |incident| %>
      <tr>
        <td><%= link_to 'Show', incident %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
