<ul class="nav nav-list">
  <li>
    <span>
      <a href="/services/new" class="btn btn-primary btn-block">
        Create New Service
      </a>
    </span>
  </li>
  <li class="divider"></li>
  <li class="nav-header">
    Recent Activity
  </li>
</ul>