<div class="service box">
  <div class="row">

    <div class="span1">
      <div class="status okay">
        <i class="icon-circle-blank icon-4x"></i>
      </div>
    </div>

    <div class="span5">
      <div class="details">
        <h3>{{service.name}}</h3>
      </div>
    </div>

    <div class="span2">
      <div class="controls pull-right">
        <div class="btn-group">
          {{#linkTo services.edit service class="btn"}}<i class="icon-pencil"> Edit</i>{{/linkTo}}
          {{#linkTo services.edit service class="btn btn-danger"}}<i class="icon-trash"> Delete</i>{{/linkTo}}
        </div>
      </div>
    </div>
    
  </div>
</div>  
