/.bundle
/db/*.sqlite3
/log/*.log
/tmp
!.keep
*.DS_Store
*.swp
.env
/config/application.yml
coverage/*
bin/stubs
public/system
rerun.txt
tags
vendor/bundler_gems
vendor/gems
vendor/ruby
vendor/bin
vendor/bundle
vendor/bundler
vendor/cache
vendor/gems
vendor/specifications
/doc
.yardoc/
