/.bundle
/db/*.sqlite3
/log/*.log
/tmp
!.keep
*.DS_Store
*.swp
!.env.*
.env
/config/application.yml
coverage/*
bin/stubs
public/system
rerun.txt
tags
#!vendor/bundle/**/*/cache
vendor/bundle
/doc
.yardoc/
.bin
