= content_for :sidebar do
  %ul.nav.nav-list
    %li
      %span= link_to 'Create New Service', new_service_path, class: 'btn btn-primary btn-block btn-large'
    %li.divider
    %li.nav-header Recent Activity
    %li Dan Ryan created "Application"
    %li Dan Ryan updated "Nagios"

#services
  %table.table.table-striped.table-hover
    %thead
      %tr
        %th
        %th
        %th
    %tbody
      = render @services
  / - @services.each do |service|
  /  = render 'services/service', locals: { service: service }

%br

.page-header
  %h4 Disabled
#disabled_services
  %table.table.table-striped
    %thead
      %tr
        %th
        %th Name
        %th
    %tbody
      = render @disabled_services

