<h1>Sign up</h1>
<form name="myForm">
  <div class="control-group">
    <label class="control-label" for="email">Email</label>
    <div class="controls">
      <input type="email" id="email" name="email" placeholder="Email" required>
    </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="password">Password</label>
      <div class="controls">
        <input type="password" id="password" name="password" placeholder="Password" password-validate required>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="password_confirmation">Password</label>
      <div class="controls">
        <input type="password" id="password_confirmation" name="password_confirmation" placeholder="Password" password-validate required>
      </div>
    </div>
    <div class="control-group">
      <div class="controls">
        <button type="submit" class="btn">Sign up</button>
      </div>
  </div>
</form>​