<% ep = escalation_policy %>
<tr class="policy">
  <td class="name">
    <strong>
      <%= link_to ep.name, '#', class: 'editable', data: { type: 'text', pk: ep.id, name: 'name', model: 'escalation_policy', url: escalation_policy_path(ep) } %>
    </strong>
  </td>
  <td class="loop_limit">
    <%= link_to "Loop #{pluralize(ep.escalation_loop_limit, 'time')}", "#", class: 'editable', 
        data: { value: ep.escalation_loop_limit, url: escalation_policy_path(ep), name: 'escalation_loop_limit', model: 'escalation_policy' } %>
  </td>
  <td class="rules"></td>
  <td class="controls">
    <div class="btn-group pull-right">
      <%= link_to '#', class: 'add-rule btn btn-primary' do %>
        <i class="icon-plus"></i>
      <% end %>
      <%= link_to escalation_policy, class: 'delete-policy btn btn-danger', remote: true, method: :delete do %>
        <i class="icon-trash"></i>
      <% end %>
    </div>
  </td>
</tr>
