= content_for :header do
  .row
    .span8
      %h1 Policies
    .span4
      = link_to 'Create New Policy', '#', class: 'btn btn-primary btn-block btn-large', id: 'new_escalation_policy_button'

= render 'form', escalation_policy: @escalation_policy

%table#policies.table.table-striped
  %thead
    %tr
      %th
      %th
      %th
  %tbody
    = render @escalation_policies


%br

.page-header
  %h3 Recent Activity
