$gray: #E8E8E8;
$black: #333333;
$blue: #6ECFF5;
$green: #A1CF64;
$orange: #F05940;
$purple: #564F8A;
$red: #D95C5C;
$teal: #00B5AD;

$primary-color: $blue !default;
$secondary-color: $gray !default;
$alert-color: $red !default;
$success-color: $green !default;
$warning-color: $orange !default;
$info-color: $teal !default;

$success-color: $green !default;
$critical-color: $red !default;
$disabled-color: $gray !default;
