$panel-bg: #fff;
$panel-margin-bottom: rem-calc(1em, 1em);
$panel-padding: rem-calc(1em, 1em);

.panel {
  @include panel($bg: #FFFFFF);
  @include radius;
  @include box-sizing(border-box);

  position: relative;
  // box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.1);
  margin: rem-calc(1em, 1em) 0;

  &:after {
    content: '';
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
  }

  &.radius {
    @include panel($bg: false);
    @include radius;
  }

  // &.inverted 
}
 
