$button-font-weight: normal !important;

button, .button {
  @include button-base;
  @include button-size;
  @include button-style;

  @include single-transition(background-color);
  // @include single-transition(opacity);
  // @include single-transition(color);
  // @include single-transition(background);
  // @include single-transition(box-shadow);

  @include box-sizing(border-box);

  min-height: rem-calc(1em, 1em);
  line-height: 1;
  // text-transform: uppercase;
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.05));
  vertical-align: middle;

  &.secondary { @include button-style($bg:$secondary-color); }
  &.success   { @include button-style($bg:$success-color); }
  &.alert     { @include button-style($bg:$alert-color); }

  &.large  { @include button-size($padding:$button-lrg); }
  &.small  { @include button-size($padding:$button-sml); }
  &.tiny   { @include button-size($padding:$button-tny); }
  &.expand { @include button-size($padding:null,$full-width:true); }

  // @media #{$large-up}   {
  //   @include grid-column($columns:9, $collapse:true, $float:right);
  // }
  &.left-align  { text-align: left; text-indent: rem-calc(12); }
  &.right-align { text-align: right; padding-right: rem-calc(12); }

  &.black  { @include button-style($bg:$black) }
  &.green  { @include button-style($bg:$green) }
  &.red    { @include button-style($bg:$red) }
  &.blue   { @include button-style($bg:$blue) }
  &.purple { @include button-style($bg:$purple) }
  &.teal   { @include button-style($bg:$teal) }
  &.orange { @include button-style($bg:$orange) }

  &.radius { @include button-style($bg:false, $radius:true); }
  &.round  { @include button-style($bg:false, $radius:$button-round); }

  &.disabled, &[disabled] {
    @include button-style($bg:$primary-color, $disabled:true);

    &.secondary { @include button-style($bg:$secondary-color, $disabled:true); }
    &.success   { @include button-style($bg:$success-color, $disabled:true); }
    &.alert     { @include button-style($bg:$alert-color, $disabled:true); }
  }
}

@media #{$medium-up} {
  button, .button {
    @include button-base($style:false, $display:inline-block);
    @include button-size($padding:false, $full-width:false);
  }
}

.button-group {
  @include button-group-container;

  &> * { @include button-group-style(); }

  &.radius > * { @include button-group-style($radius:$button-radius, $float:null); }
  &.round > * { @include button-group-style($radius:$button-round, $float:null); }

  @for $i from 2 through 8 {
    &.even#{-$i} li { @include button-group-style($even:$i, $float:null); }
  }
}

.button-bar {
  @include clearfix;
  .button-group { @include button-group-container($styles:false,$float:true); }
}
