@import "font-awesome/scss/variables";
@import "font-awesome/scss/mixins";
@import "font-awesome/scss/core";
@import "font-awesome/scss/larger";
@import "font-awesome/scss/fixed-width";
@import "font-awesome/scss/list";
@import "font-awesome/scss/bordered-pulled";
@import "font-awesome/scss/spinning";
@import "font-awesome/scss/rotated-flipped";
@import "font-awesome/scss/stacked";
@import "font-awesome/scss/icons";

@include font-face(
  "FontAwesome",
  "font-awesome/fonts/fontawesome-webfont",
  $asset-pipeline: true);

i {
  @include colors;
  @include tinted-colors;

  // &.success, &.ok { color: $success-color }
  // &.warning { color: $warning-color }
  // &.alert, &.critical { color: $alert-color }
  // &.info { color: $info-color }
  // &.secondary { color: $secondary-color }
  // &.disabled { color: $disabled-color }

  &.health-icon {
    @media #{$small-only} { font-size: rem-calc(2em, 1em); }
  }
}
