$side-nav-padding: rem-calc(0 0);
$side-nav-list-margin: rem-calc(0 0 0 0) !default;

// ui.menu
.side-nav {
  // @include side-nav;
  background-color: #fff;
  font-weight: $side-nav-font-weight;
  box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.1);
  border-radius: 0.1875rem;
  padding: $side-nav-padding;

  &:first-child { margin-top: 0rem; }
  &:last-child { margin-bottom: 0rem; }

  &:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
  } 

  // ui.menu .item
  & > li {
    &:first-child { border-radius: 0.1875rem 0px 0px 0.1875rem; }
    &:last-child { border-radius: 0px 0.1875em 0.1875em 0px; }
    &:before {
      position: absolute;
      content: "";
      top: 0%;
      right: 0px;
      width: 100%;
      height: 1px;
      background-image: linear-gradient(
        rgba(0, 0, 0, 0.05) 0%,
        rgba(0, 0, 0, 0.1) 50%,
        rgba(0, 0, 0, 0.05) 100%
      );
    }
    & > a {
      display: block;
      width: 100%;
      padding: 0.83em 0.95em;

    }

    &.active, &.active a {
      color: rgba(0, 0, 0, 0.85);
      border-radius: 0px;
    }

    &.active {
      &:first-child { border-radius: 0em 0.1875em 0em 0em; }
      &:last-child  { border-radius: 0em 0em 0.1875em 0em; }
      &:only-child  { border-radius: 0em 0.1875em 0.1875em 0em; }

      border-radius: 0rem;
      box-shadow: 0.2rem 0rem 0rem inset;
    }
    &:hover a {
      cursor: pointer;
      background-color: rgba(0, 0, 0, 0.02);
    }

    @include user-select (none);
    @include box-sizing (border-box);
    @include transition (opacity, 0.2s, ease);
    @include transition (background, 0.2s, ease);
    @include transition (box-shadow, 0.2s, ease);

    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    vertical-align: middle;
    text-decoration: none;
    position: relative;
    display: inline-block;
    // padding: 0.83em 0; // 0.95em;
    border-top: 0em solid rgba(0, 0, 0, 0);

    &, & > a {
      line-height: 1;
      width: 100%;
      color: rgba(0, 0, 0, 0.75);
    }
    & li, & li > a { color: rgba(0, 0, 0, 0.7); }
    & li li, & li li > a { color: rgba(0, 0, 0, 0.6); }
    > p:first-child { margin-top: 0px; }
    > p:last-child { margin-bottom: 0px; }
  }

  .side-nav {
    margin: 0em;
  }

  li.left, .side-nav.left { float: left; }
  li.right, .side-nav.right { float: right; }

}

// @mixin side-nav(
//   $divider-color:$side-nav-divider-color, 
//   $font-size:$side-nav-font-size, 
//   $link-color:$side-nav-link-color) {
//   display: block;
//   margin: 1rem 0rem;
//   padding: $side-nav-padding;
//   list-style-type: $side-nav-list-type;
//   list-style-position: $side-nav-list-position;
//   font-family: $side-nav-font-family;

//   li {
//     margin: $side-nav-list-margin;
//     font-size: $font-size;

//     a {
//       display: block;
//       color: $link-color;
//     }

//     &.active > a:first-child {
//       color: $side-nav-link-color-active;
//       font-weight: $side-nav-font-weight;
//       font-family: $side-nav-active-font-family;
//     }

//     &.divider {
//       border-top: $side-nav-divider-size $side-nav-divider-style;
//       height: 0;
//       padding: 0;
//       list-style: none;
//       border-top-color: $divider-color;
//     }
//   }
// }
