.navbar.navbar-fluid-top
  .navbar-inner
    .container-fluid
      %a.btn.btn-navbar(data-target=".nav-collapse" data-toggle="collapse")
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.brand(href="/") Reveille
      .container.nav-collapse
        %ul.nav.pull-right
          =render 'users/menu/registration_items'
          =render 'users/menu/login_items'
