<div class="large-3 columns">
  <div class="service-incident-counts right">
    <span class="alert">
      <i class="fa fa-times-circle"></i> {{incidentCounts.triggered}}
    </span>
    <span class="warning">
      <i class="fa fa-exclamation-circle"></i> {{incidentCounts.acknowledged}}
    </span> 
    <span class="success">
      <i class="fa fa-check-circle"></i> {{incidentCounts.resolved}}
    </span>
  </div>
</div>
