<div class="container">
  <div class="row">
    <div class="span7">
      <h3 class="footer-title">Reveille</h3>
      <p class="muted credit">Copyright &copy; 2013 Applied Awesome LLC.</p>
    </div>

    <div class="span5">
      <div class="footer-banner">
        <h3 class="footer-title">Hi!</h3>
      </div>
    </div>
  </div>
</div>

