<div class="bottom-menu">
  <div class="container">
    <div class="row">
      
      <div class="span2 brand">
        {{#linkTo index}}Reveille{{/linkTo}}
      </div>

      <div class="span8">
        <ul class="bottom-links">
          <li><a href="/support" title="">Support</a></li>
          <li><a href="/docs" title="">Documentation</a></li>
          <li><a href="/docs/api" title="">API</a></li>
        </ul>
      </div>

    </div>
  </div>
</div>
