<div id="wrapper">
  <header id="header">
    {{outlet header}}
  </header>

  <section id="main" class="container-fluid">
    <div class="row-fluid">
      <aside id="sidebar" class="span2">
        {{!view Reveille.SidebarView}}
        {{outlet sidebar}}
      </aside>
      <article id="content" class="span10">
        {{outlet}}
      </article>
    </div>
  </section>

  <div id="push"></div>
</div>

<footer id="footer">
  {{outlet footer}}
</footer>
