<div class="contain-to-grid fixed">
  <nav class="top-bar" data-topbar role="navigation">
    {{!-- title --}}
    <ul class="title-area">
      <li class="name">
        <h1>
          {{#link-to "dashboard"}}revi.ly{{/link-to}}
        </h1>
      </li>
      <li class="toggle-topbar menu-icon">
        <a href="#"><span>Menu</span></a>
      </li>
    </ul>
    {{!-- end title --}}
    {{!-- top nav --}}
    {{#if session.isAuthenticated}}
    <section class="top-bar-section">
      <ul>
        <li>{{#link-to 'incidents'}}Incidents{{/link-to}}</li>
        <li>{{#link-to 'services'}}Services{{/link-to}}</li>
        <li>{{#link-to 'policies'}}Policies{{/link-to}}</li>
        <li>{{#link-to 'schedules'}}Schedules{{/link-to}}</li>
        <li>{{#link-to 'users'}}Users{{/link-to}}</li>
        <li>{{#link-to 'events'}}Events{{/link-to}}</li>
      </ul>
    </section>
    {{/if}}
    <section class="top-bar-section">
      <ul class="right">
        {{#if session.isAuthenticated}}
          <li><a {{action "logout"}}>Sign out</a></li>
        {{else}}
          <li><a {{action "login"}}>Sign in</a></li>
        {{/if}}
      </ul>
    </section>
    {{!-- end top nav --}}
  </nav>
</div>

<section id="main" class="main-content" role="main">
  <div class="row">
    <div class="large-12 columns">
      {{ outlet }}
    </div>
  </div>
</section>

<aside>
</aside>
