<h2>Services</h2>
<hr>

<div class="row">
  <div class="small-12 medium-3 columns left">
    {{ partial "services/sidebar" }}
  </div>
  <div class="small-12 medium-9 columns right">
    {{ outlet }}
  </div>
</div>
