/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 // *=* require flat-ui
 */

// @import 'bootswatch/slate/variables';
// @import 'bootswatch/cosmo/variables';
@import 'bootstrap';
@import 'bootstrap-responsive';
// @import 'bootswatch/slate/bootswatch';
// @import 'bootswatch/cosmo/bootswatch';
@import 'flat-ui';
@import 'font-awesome';
// @import 'bootstrap-datepicker';
// @import 'fullcalendar';
@import 'services';
@import 'escalation_policies';
@import 'flat-ui-select2';
@import 'bootstrap-editable';

body {
  height: 100%;
}

#sidebar {
  background-color: #ecf0f5;
  border-radius: 6px;
  padding: 14px;
  position: relative;
}

.okay {
  color: #2ECC71;
}
.warning {
  color: #F39C12;
}
.critical {
  color: #E74C3C;
}
.unknown {
  color: #ECF0F1;
}

.odd {
  background-color: #f7f7f7;
}

.navbar .brand {
  padding-left: 20px !important;
}

#push {
  height: 50px;
}