.navbar-inverse {
  background: #34495e;
}

.navbar-inverse .navbar-brand {
  // border-bottom: 2px solid #2c3e50;
  // border-right: 2px solid #2c3e50;
  color: #ffffff;
}
.navbar-inverse .btn-navbar {
  color: #ffffff;
}
.navbar-inverse .nav > li.active > a,
.navbar-inverse .nav > li.active > a:hover,
.navbar-inverse .nav > li.active > a:focus {
  background-color: #1abc9c;
  border-bottom-color: #16a085;
  border-left: none;
  color: #ffffff;
}
.navbar-inverse .nav > li.active + li > a {
  border-left: none;
}
.navbar-inverse .nav > li > a {
  border-bottom: 1px solid #2c3e50;
  border-left: 1px solid #2c3e50 !important;
  color: #ffffff;
}
