#policies {
  .policy {
    // margin-bottom: 20px;
    min-height: 80px;

    .details, .controls, .rules {
      padding: 20px 20px 0 20px;
    }

    .details, .controls {
      height:40px;
      line-height: 40px;
    }
  }
}