#services {
  .service {
    margin-bottom: 20px;
    height: 60px;

    .status {
      height: 60px;
      width: 60px;
      display: inline-block;
      vertical-align: middle;
      
      [class^="icon-"], [class*=" icon-"] {
        display: block;
        text-align: center;
        padding-top: .04em;
      }
    }

    .details {
      h3 {
        line-height: 30px;
      }
    }

    .controls {
      height: 60px;
      line-height: 60px;
    }
  }
}
