%footer#footer.mtl.pbl
  .bottom-menu.bottom-menu-inverse
    .container
      .row
        .span2.brand
          = brand_link
        .span8
          %ul.bottom-links
            %li= link_to "Support", '#'
            %li= link_to "Documentation", '#'
            %li= link_to "API", '#'
        .span2
          