<footer id="footer">
  <div class="container">
    <nav class="navbar navbar-inverse navbar-fixed-bottom" role="navigation">
      <p>Copyright &copy; 2013, Applied Awesome LLC.</p>
    </nav>
  </div>
</div>
