.row
  .span12
    = simple_form_for EscalationPolicy.new, validate: true, remote: true do |f|
      .form-inputs
        = f.input :name, 
          placeholder: 'Operations'
        = f.input :escalation_loop_limit,
          as: :string,
          label: 'Escalation Loop Limit',
          placeholder:  '3'
      .form-actions
        = f.button :submit, class: 'btn-large btn-primary'