<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Set the viewport width to device width for mobile -->
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0" /> -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />

    <title>Revily</title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "modernizer/modernizr" %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <%= javascript_include_tag "application" %>
  </body>
</html>
